@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.register{
  display: block;
  width: 500px;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: rgba(190, 209, 243, 0.562);
  height: 400px;

}
.logo{
    background: url('b.png');
    background-size: 3em 3em;
    display:block;
    width: 3em;
    height: 2.5em;
    float: left;
    margin-top: -15px;
    padding-right: 10px;
}
.nav{
  background: rgb(45, 45, 240)!important;
  font-family: 'Noto Serif', serif;
  font-size:700;
}
.words{
  font-family: 'Noto Serif', serif;
  font-size:800;
}
.addbtn{
  margin-left: 10px;
  margin-top: 10px;
}
.modal-content{
  background-color: rgba(176, 220, 240, 0.71);
}
.blogcard{
  width: 600px;
  margin-left: 10px;
  margin: 20px;
}
.nav-link{
  background-color: rgba(24, 35, 94, 0.842)!important;
}
.loginbtn{
  width: 450px;
  margin-right: 10px;
}
